<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Layout 05</title>
  <link rel="stylesheet" href="../../global.css">
  <link rel="stylesheet" href="style.css">
</head>

<body>

  <div class="container-conteudo">
    <aside></aside>
    <main>
      <div class="maior"></div>
      <div class="container-menor">
        <div class="menor"></div>
        <div class="menor"></div>
      </div>
    </main>
  </div>

  <footer></footer>

</body>

</html>